/* ! project framework */
:root {
  --clr-primary-400: #19c8fa;
  --clr-primary-200: rgb(25 200 250 / 0.3);
  --clr-txt-400: #000;
  --clr-txt-200: #777;
  --pd-main: 100px 0;
}

p {
  color: var(--clr-txt-200);
  line-height: 2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  line-height: 1.7;
}
.wrapper {
  width: 1024px;
  margin-inline: auto;
}
/* ! page styling */
/* landing page */
.landing__page {
  background: url(.././media/landing.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}
.landing__page::before {
  content: "";
  display: block;
  background-color: rgb(0 0 0 / 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.landing--content {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
.landing__navigation--bar {
  display: grid;
  grid-template-columns: 1fr 1.4fr auto;
  grid-template-rows: 90px;
  gap: 20px;
  align-items: center;
  position: relative;
}
.landing__navigation--bar::after {
  content: "";
  position: absolute;
  background: #a2a2a2;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.navigation--links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  z-index: 1;
}
.nav--link {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid transparent;
}
.nav--link a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: 150ms ease-in-out;
}
.nav--link:hover {
  border-bottom: 2px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
}
.nav--link--active {
  border-bottom: 2px solid var(--clr-primary-400);
  color: var(--clr-primary-400);
}
.search {
  border-left: solid 1px #fff;
  padding: 4px 20px;
  font-size: 1.4em;
}
.landing__hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.landing__hero .change-background {
  font-size: 3em;
  position: absolute;
}
.fa-angle-left {
  left: 0;
}
.fa-angle-right {
  right: 0;
}
.hero--content {
  width: fit-content;
  padding: 40px;
  position: relative;
}
.hero--content::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--clr-primary-200);
  z-index: -1;
}
.hero--title {
  text-transform: capitalize;
  font-weight: normal;
}
.hero--description {
  color: #fff;
  line-height: 2;
}
.slider--bullets {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.bullet {
  width: 25px;
  height: 25px;
  border: solid 2px #fff;
  border-radius: 50%;
}
.bullet--active {
  border: solid 2px var(--clr-primary-400);
  background: var(--clr-primary-400);
}

/* Services */

.services {
  padding: var(--pd-main);
}
.section__header {
  text-align: center;
  padding-bottom: 40px;
}
.sections--title {
  font-size: 3em;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}
.sections--title::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  bottom: 0;
  width: 140px;
  height: 1px;
  background-color: var(--clr-txt-200);
}
.sections--title::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -10.5px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-txt-200);
  background: #fff;
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 20px;
}
.ser--item {
  display: flex;
  column-gap: 40px;
}
.item__content--title {
  margin-top: 0;
  font-size: 18px;
  color: var(--clr-primary-400);
}

/* Design */
.design {
  background: url(.././media/design-features.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: var(--pd-main);
  overflow: hidden;
}
.design::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.6);
  z-index: 1;
}
.design--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  position: relative;
  z-index: 2;
}
.design__phone--image {
  position: relative;
}
.design__phone--image img {
  position: absolute;
  bottom: -158px;
}
.design--content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 50px;
}
.design--content::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--clr-primary-200);
  z-index: -1;
}
.design__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}
.design__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feature {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
.feature p {
  margin: 0;
  text-transform: capitalize;
  color: #fff;
}

/* portfolio */
.gallery__navigation {
  list-style: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gallery__link {
  padding: 4px 10px;
}
.gallery__link a {
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
}
.link--active {
  background: var(--clr-primary-400);
  color: #fff;
}
.gallery__images--container {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}
.image--container {
  flex: 1;
  flex-basis: fit-content;
  position: relative;
  overflow: hidden;
}
.image__description {
  background: #fff;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  transition: 250ms ease-in-out;
  z-index: 1;
}
.image__description span {
  color: var(--clr-primary-400);
}
.image--container:hover .image__description {
  bottom: 0%;
}
.gallery--image {
  width: 100%;
  height: 100%;
  transition: 250ms ease-in-out;
}
.image--container:hover .gallery--image {
  transform: rotate(5deg) scale(1.1);
}
.gallery--showmore {
  background-color: var(--clr-primary-400);
  padding: 14px 18px;
  border: none;
  outline: none;
  margin-inline: auto;
  margin-top: 20px;
  display: block;
}
.gallery--showmore a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

/* background video */

.background__video {
  margin: 100px 0;
  overflow: hidden;
  text-align: center;
  color: #fff;
  position: relative;
  display: grid;
  place-items: center;
}
.background__video:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.4);
  z-index: 1;
}
.background__video video {
  width: 100%;
}
.video__overlay--blue {
  position: absolute;
  top: calc(50% - 100px);
  padding: 40px 0;
}
.video__overlay--blue::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--clr-primary-200);
  z-index: 2;
}
.video__overlay--blue::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  width: 100vw;
  height: 100%;
  background-color: var(--clr-primary-200);
  z-index: 2;
}
.overlay__container {
  position: relative;
  z-index: 3;
}
.video__title {
  font-size: 24px;
  text-transform: uppercase;
}
.video__description {
  color: inherit;
  text-transform: capitalize;
}
.video__cta {
  border: none;
  outline: none;
  padding: 14px 18px;
  background-color: #000;
}
.video__cta a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
/* about us */
.aboutus {
  overflow: hidden;
  display: grid;
  place-items: center;
}
.tablet__image {
  position: relative;
  bottom: -124px;
}
/* progress */
.progress {
  padding: var(--pd-main);
  padding-left: 100px;
  padding-right: 100px;
  background: url(.././media/stats.png);
  position: relative;
}
.progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.6);
  z-index: 1;
}
.progress__container {
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.progress__item {
  text-align: center;
  padding: 40px;
  background: var(--clr-primary-200);
}
.progress__item > * {
  color: #fff;
}
.progress__item p {
  margin: 0;
}
.item__counter {
  font-size: 2em;
  font-weight: bold;
}
.item__description {
  font-size: 14px;
  text-transform: capitalize;
}
/* skills  */
.skills {
  padding: var(--pd-main);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.testimonials,
.skill {
  text-align: center;
}
.article--title {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.review {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  text-align: left;
  align-items: center;
}
.client__image img {
  width: 100px;
  border-radius: 50%;
}
.client__words {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  color: #000;
}
.client__title {
  text-align: right;
  color: var(--clr-txt-200);
  display: block;
  text-transform: capitalize;
}
.testi--bullet {
  margin-top: 20px;
}
.testi--bullet .bullet {
  width: 15px;
  height: 15px;
  border: solid 2px #ddd;
  border-radius: 50%;
}

.progress__title {
  text-transform: uppercase;
  color: var(--clr-txt-200);
  text-align: left;
}
.pro__bar {
  background: #ccc;
  width: 100%;
  height: 30px;
}
.bar--tracker {
  display: block;
  height: 100%;
  background-color: var(--clr-primary-400);
  position: relative;
}
.tr--one {
  width: 90%;
}
.tr--two {
  width: 85%;
}
.tr--three {
  width: 80%;
}
.tr--four {
  width: 90%;
}
.tr--one::before {
  content: "90%";
}
.tr--two::before {
  content: "85%";
}
.tr--three::before {
  content: "80%";
}
.tr--four::before {
  content: "90%";
}

.bar--tracker::before {
  display: block;
  position: absolute;
  background-color: black;
  color: #fff;
  right: 0;
  top: -120%;
  padding: 0px 4px;
  border-radius: 5px;
}
.bar--tracker::after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  color: #fff;
  right: 13px;
  top: -10px;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

/* quote */
.quote {
  padding: var(--pd-main);
  background: url(.././media/quote.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: #fff;
}
.quote__container {
  position: relative;
  z-index: 2;
}
.quote::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /0.6);

  z-index: 1;
}
.quote__l {
  font-size: 2em;
}
.quote__author {
  color: #fff;
  text-transform: capitalize;
}
/* plan */
.plan {
  padding: var(--pd-main);
}
.plans {
  width: 100%;
  text-align: center;
  color: #000;
}
.plan__name {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #000;
}
.price {
  font-size: 2.4em;
  color: #000;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: relative;
}
.price::before {
  content: "$";
  position: absolute;
  left: 28%;
  top: 0;
  display: block;
  font-size: 20px;
  color: var(--clr-txt-200);
  font-weight: normal;
}
.price::after {
  content: "/Mo";
  position: absolute;
  right: 25%;
  bottom: 16%;
  display: block;
  font-size: 18px;
  color: v#000;
  font-weight: normal;
}
td {
  background: #fcfcfc;
  border: none;
  border-right: solid 14px #fff;
}
tbody td,
tfoot td {
  padding: 20px;
}
thead td {
  border-top: solid 1px var(--clr-primary-400);
}
tbody td {
  text-transform: capitalize;
  border-top: solid 1px var(--clr-primary-400);
}
tfoot td {
  border-top: solid 1px var(--clr-primary-400);
}
tfoot button {
  background: none;
  padding: 12px 14px;
  border: 1px solid var(--clr-primary-400);
  cursor: pointer;
}
tfoot button a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--clr-txt-200);
}

.offers__contact {
  text-align: center;
  margin-top: 30px;
}

.offers__contact p {
  color: #000;
}
.offers__contact a {
  background-color: var(--clr-primary-400);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: capitalize;
}

/* news */
.news {
  padding: var(--pd-main);
  background: url(.././media/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.news::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.5);
  z-index: 1;
}
.news__container {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 30px;
}
.news__container form {
  border: solid 2px #fff;
}
.news__container input {
  padding: 14px;
}
.news__container input:first-of-type {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
}
.news__container input:last-of-type {
  background: var(--clr-primary-400);
  color: #fff;
  border: none;
  cursor: pointer;
}
.mail__logo {
  color: #fff;
  padding: 14px 0px 14px 10px;
}
.news__description {
  color: #fff;
}

/* contact us */
.contactus {
  padding: var(--pd-main);
}
.contact__container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}
::placeholder {
  text-transform: capitalize;
}
.contact__container form {
  display: grid;
  gap: 20px;
}
.contact__container form input:not([type="submit"]),
.contact__container form textarea {
  display: block;
  padding: 20px;
  border: 1px solid var(--clr-txt-200);
  outline: none;
}
.submit__contact {
  padding: 20px;
  justify-self: end;
  background: var(--clr-primary-400);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
aside p {
  color: var(--clr-txt-200);
}
.phone__number p {
  margin-top: 0;
}
.phone__title,
.address__title {
  color: #000;
  text-transform: uppercase;
}
.number {
  color: var(--clr-txt-200);
}
address {
  color: var(--clr-txt-200);
}
/* footer */
footer {
  text-align: center;
  background: url(.././media/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: var(--pd-main);
  display: grid;
  place-items: center;
  padding-bottom: 50px;
}
footer::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
}
.footer__container {
  position: relative;
  z-index: 2;
}
footer p {
  color: #fff;
}
.social {
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}
.social__links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
.social__links li a {
  color: #fff;
  font-size: 18px;
}
.copyright {
  margin-top: 50px;
}
.company__name {
  color: var(--clr-primary-400);
}
